.education{
  padding: 1rem;
  color:var(--dark-color-2);

  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  
  flex-grow: 1;

  overflow-y: scroll;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 768px) {
  .education{
    overflow: visible;
  }
}