.badge{
  background-color: var(--dark-color-0);

  border-radius: 100px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--dark-color-1);

  box-sizing: border-box;
  padding: 0.15rem 0.65rem 0.15rem 0.65rem;
  
  color:var(--dark-color-3);
  font-weight: 600;
}