---
interface Props {
  content: string;
  className?: string;
}
const {content, className} = Astro.props;
---

<p class=`font-inter text-sm text-stone-50 py-0.5 px-2 border rounded-md shadow-sm ${className || ''}`>
  {content}
</p>