.photo-section{
  width: 100%;
  height: 70%;

  padding: 1rem;
  
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border-style: none solid solid none;
  border-width: var(--border-default-width);
  border-color: var(--dark-color-1);
  
  overflow: hidden;
}

.photo-section > img {
  width: 90%;
  
  box-sizing: border-box;
  border-style: solid;
  border-radius: 100%;
  border-width: var(--border-default-width);
  border-color: var(--dark-color-1);
}