---
import '@styles/global.css';
import {getCollection} from "astro:content";
import Footer from "@components/footer.astro";
import Header from "@components/header.astro";
import Layout from "@layouts/Layout.astro";
import CardPreviewBlogPost from "../../components/cards/CardPreviewBlogPost.astro";

const allPosts = await getCollection('blog');

---
<Layout>
<div class="w-screen h-screen flex flex-col">
  <Header/>
  <div class="flex flex-grow">
    <div class="w-full h-full flex flex-col items-center p-8">
      <div  id="post-list" class="flex flex-col gap-4">
        {allPosts.map((post) => (
                <CardPreviewBlogPost post={post}/>
        ))}
      </div>
    </div>
  </div>
  <Footer/>
</div>
</Layout>