---
import '@styles/global.css';
import {getCollection} from "astro:content";
import Footer from "@components/footer.astro";
import Header from "@components/header.astro";
import Layout from "@layouts/Layout.astro";
import CardPreviewBlogPost from "@components/card/card-preview-blog-post";

const allPosts = await getCollection('blog');

---
<Layout>
<div class="w-screen h-screen flex flex-col">
  <Header/>
  <div class="flex flex-grow mt-24 max-sm:mt-32">
    <div class="w-full h-full flex flex-col items-center p-8">
      <div  id="post-list" class="flex flex-col gap-4">
        {allPosts?.sort((a,b) => a.id > b.id)?.map((post) => (
                <CardPreviewBlogPost key={post.id} post={post} client:load/>
        ))}
      </div>
    </div>
  </div>
  <Footer/>
</div>
</Layout>