.reference-card{
  border-style: solid;
  border-width: 1px;
  border-color: var(--dark-color-1);

  padding: 1rem;
  box-sizing: border-box;

  transition: all 0.2s;
}

.reference-card:hover{
  border-color: var(--dark-color-2);
}

.reference-card:hover > .reference-card-title{
  color:var(--dark-color-4);
}

.reference-card:hover > .reference-card-title > a{
  filter: brightness(200%);
  transform: scale(120%);
}


.reference-card > h3{
  color:var(--dark-color-4);
}

.reference-card-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  transition: all 0.2s;
}

.reference-card-title > a{
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.2s;
}