---
import Footer from "../../components/footer.astro";
import Header from "../../components/header.astro";
import Layout from "../../layouts/Layout.astro";

import CertificationsContent from "@content/certifications/certifications.md"
---
<Layout>
  <div class="w-full h-screen flex flex-col">
    <Header/>
    <div class="flex flex-col flex-grow justify-center items-center mt-24 max-sm:mt-32">
      <article class="font-inter md:max-w-1/2 text-stone-600 prose p-8 text-md">
        <CertificationsContent/>
      </article>
    </div>
    <Footer/>
  </div>
</Layout>
