.header-title-section {
    float: right;
    width: 50%;
    height: 100%;
    text-align: right;

    box-sizing: border-box;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;

    overflow: hidden;
    user-select: none;
}

.header-title-section > img {
    width: 5vw;
    max-width: 100px;
    float: right;
    margin-bottom: 0.5rem;
}

.header-title-section > h4 {
    font-weight: 300;
    color: var(--dark-color-2);

    font-size: clamp(12px, 1vw, 24px);
    line-height: clamp(0.7rem, 1vw, 2rem);
}

.header-title-section > h1 {
    font-size: clamp(15px, 2.25vw, 52px);
    line-height: clamp(1.2rem, 2vw, 3rem);
}

@media (max-width: 768px) {
    .header-title-section {
        height: 100%;

        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;

        align-items: center;

        gap: 1rem;
    }

    .header-title-section > h4 {
        display: none;
    }

    .header-title-section > img {
        width: 7vw;
        max-width: 100px;
        float: right;
        margin-bottom: 0px;
    }
}