.header-title-section{
  float:right;
  width: 50%;
  height: 100%;
  text-align: right;
  font-size: clamp(12px,25px,48px);


  box-sizing: border-box;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:end;

  overflow: hidden;

}

.header-title-section > img{
  width: 50%;
  float:right;
  margin-bottom: 0.5rem;
}

.header-title-section > h4{
  font-weight: 300;
  color: var(--dark-color-2);
  font-size:large;
}

.header-title-section > h1{
  font-size: xx-large;
  line-height: 2rem;
  transition: all 0.4s;
}

.header-title-section:hover > h1{
  color:var(--dark-color-4);
  text-shadow: 0px 2px 2px var(--dark-color-2);
}