.header-title-section{
  float:right;
  width: 50%;
  height: 100%;
  text-align: right;

  box-sizing: border-box;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:end;

  overflow: hidden;

}

.header-title-section > img{
  /* width: 50%; */
  width: 10vw;
  max-width: 100px;
  float:right;
  margin-bottom: 0.5rem;
}

.header-title-section > h4{
  font-weight: 300;
  color: var(--dark-color-2);
  /* font-size:large;
  line-height: normal; */
  font-size: clamp(12px,1vw,24px);
  line-height: clamp(0.7rem,1vw,2rem);
}

.header-title-section > h1{
  /* font-size: xx-large; */
  font-size: clamp(20px,2vw,52px);
  line-height: clamp(1.2rem,2vw,3rem);
  transition: all 0.4s;
}

.header-title-section:hover > h1{
  color:var(--dark-color-4);
  text-shadow: 0px 2px 10px var(--dark-color-2);
}

@media (max-width: 768px) {
  .header-title-section{
    height: auto;
    
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;

    align-items: flex-end;
    gap: 1rem;

    background-color: yellow;
  }

  .header-title-section > h4{
    display: none;
  }
}