.modal{  
  margin: 3rem;
  padding: 0px;

  background-color: var(--dark-color-0);

  color: var(--dark-color-4);

  border-width: 1px;
  border-color: var(--dark-color-1);
  
  box-sizing: border-box;

  -webkit-animation: fadeEffect 0.2s;
  animation: fadeEffect 0.2s;

  overflow-y: scroll;
  scrollbar-width: none;
}

.modal::backdrop{
  background:var(--dark-color-0);
  opacity: 0.7;
}

.modal-banner{
  width: 100%;
  height: 50vh;
  overflow: hidden;
}



.modal-banner > img {
  width: 100%;
  min-height:100%;
}

.modal-container{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  gap: 1rem;
  padding: 1rem;

  color: var(--dark-color-3);
}