.modal{    
  margin: 3rem;
  padding: 0px;

  background-color: var(--dark-color-0);

  color: var(--dark-color-4);

  border-width: 1px;
  border-color: var(--dark-color-1);
  
  box-sizing: border-box;

  -webkit-animation: fadeEffect 0.2s;
  animation: fadeEffect 0.2s;

  overflow-y: scroll;
}

.modal::backdrop{
  background:var(--dark-color-0);
  opacity: 0.7;
}

.modal-container{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  gap: 1rem;

  color: var(--dark-color-3);
}

.modal-title{
  width: 100%;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: var(--dark-color-1);
}

.modal-description-wrapper{
  width: 80%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  
  box-sizing: border-box;
  padding: 0.5rem;

  /* border-style: solid;
  border-width: 1px;
  border-color: var(--dark-color-1); */
}

.modal-buttons-wrapper{
  display: flex;
  gap: 1rem;
}

.modal-buttons-wrapper > button {  
  color: var(--dark-color-2);
  font-weight: 600;
  font-size:medium;

  box-sizing: border-box;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  cursor: pointer;

  transition: all 0.2s;
}

.modal-buttons-wrapper > button:hover {
  background-color: var(--dark-color-2); 
  color: var(--dark-color-0);
}

.modal-banner{

  width: 100%;
  margin-top: 1rem;
  
  max-height: 50vh;
  overflow: scroll;
}

.modal-banner > img {
  width: 100%;
  min-height:100%;
  cursor:grab;
}