.contact{
  width: 100%;
  height: 40%;

  box-sizing: border-box;
  border-style: none solid none none;
  border-width: var(--border-default-width);
  border-color: var(--dark-color-1);
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  transition: all 0.4s;
}

.contact-item-container{
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
  gap: 0.5rem;
}

.contact-item-container > a {
  transition: all 0.4s;
  cursor: pointer;
}

.contact-item{
  width: 100%;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:0.5rem;

  color: var(--dark-color-2);
  transition: all 0.4s;
}

.contact-item:hover{
  color: var(--dark-color-4);
}

.contact-item > a{
  transition: all 0.4s;
}

.contact-item:hover > a{
  transform: scale(120%);
  filter: brightness(200%);
}

@media (max-width: 768px) {
  .contact{
    height: 100%;
    padding: 0.5rem;
  }

  .contact-item > p{
    display: none;
  }
}