.reference-card {
    border-style: solid;
    border-width: 1px;
    border-color: var(--dark-color-1);

    margin: 1rem 0 1rem 0;
    box-sizing: border-box;

    transition: all 0.2s;
}

.reference-card:hover {
    border-color: var(--dark-color-5);
}

.reference-card:hover > .reference-card-title {
    color: var(--dark-color-4);
}

.reference-card:hover > .reference-card-title > a {
    filter: brightness(200%);
    transform: scale(120%);
}

.reference-card > h3 {
    color: var(--dark-color-4);
}

.reference-card-title {
    padding: 0.5rem 1rem 0.5rem 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--dark-color-1);

    transition: all 0.2s;
}

.reference-card-title > a {
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.2s;
}

.reference-card-description {
    padding: 1rem;
}