header{
  width: 30%;
  max-width: 1000px;
  
  height: 100vh;
  max-height: 2000px;

  background-color: var(--dark-color-0);
  
  box-sizing: border-box;
  border-style: none solid solid solid;
  border-width: var(--border-default-width);
  border-color: var(--dark-color-1);
  
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header-info-section{
  width: 100%;
  height: 40%;

  box-sizing: border-box;
  border-bottom-style: solid;
  border-width: var(--border-default-width);
  border-color: var(--dark-color-1);
}

.header-pfp-contact-section{
  width: 50%;
  height: 100%;
  float:left;
}

.header-about-me-section{
  width: 100%;
  height: 60%;
  
  display:flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  
  overflow: hidden;
}

