header{
  width: 40%;
  height: 100vh;
  max-width: 1000px;
  max-height: 2000px;

  background-color: var(--dark-color-0);
  
  box-sizing: border-box;
  border-style: none solid solid solid;
  border-width: var(--border-default-width);
  border-color: var(--dark-color-1);
  
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header-info-section{
  width: 100%;
  height: 40%;

  box-sizing: border-box;
  border-bottom-style: solid;
  border-width: var(--border-default-width);
  border-color: var(--dark-color-1);
}

.header-title-section{
  float:right;
  width: 60%;
  height: 100%;
  text-align: right;
  /*font-size: xx-large;*/
  font-size: clamp(12px,25px,48px);


  box-sizing: border-box;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:end;

  overflow: hidden;

}

.header-title-section > img{
  width: 40%;
  float:right;
}

.header-pfp-contact-section{
  width: 40%;
  height: 100%;
  float:left;
}

.header-photo-section{
  width: 100%;
  height: 80%;
  
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border-style: none solid solid none;
  border-width: var(--border-default-width);
  border-color: var(--dark-color-1);
  
  overflow: hidden;
}

.header-photo-section > img {
  width: 70%;
  
  box-sizing: border-box;
  border-style: solid;
  border-radius: 100%;
  border-width: var(--border-default-width);
  border-color: var(--dark-color-1);
}

.header-contact-section{
  width: 100%;
  height: 20%;

  box-sizing: border-box;
  border-style: none solid none none;
  border-width: var(--border-default-width);
  border-color: var(--dark-color-1);
  
  display: flex;
  justify-content: center;
  align-items: center;

  color:var(--dark-color-2);
  font-weight:800;
}

.header-about-me-section{
  width: 100%;
  height: 60%;
  
  display:flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  
  overflow: hidden;
}

.about-me-header{
  width: 100%;

  box-sizing: border-box;
  border-bottom-style: solid;
  border-width: var(--border-default-width);
  border-color: var(--dark-color-1);

  text-align: left;
  padding: 1.5rem;

  font-size: large;

  color:var(--dark-color-2);
}

.about-me-content{
  height: 100%;
  box-sizing: border-box;
  padding: 1.5rem;

  overflow: scroll;

  text-align: left;
}

.about-me-content > p{
  color:var(--dark-color-3);
  font-weight: 500;
}
