.navbar{
  padding: 1rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
  
  font-size: x-large;

  border-bottom-style: solid;
  border-width: var(--border-default-width);
  border-color: var(--dark-color-1);

  color:var(--dark-color-2);

  list-style: none;
}

.navbar > li {
  cursor: pointer;
  transition:all 0.2s;
}

.navbar > li:hover{
  color:var(--dark-color-4);
  text-shadow: 0px 2px 10px var(--dark-color-2);
}

.selected{
  text-decoration: underline;
  text-decoration-thickness: var(--border-default-width);
}


