---
import {Image} from 'astro:assets';
import brandGray from "@assets/ignfer-logo-gray.svg";
---

<footer class="bg-stone-900 py-8 px-4 md:px-8 font-space">
  <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-8">
    <div class="flex flex-col gap-4">
      <p class="text-stone-400">
        Interested in working together? Let’s get in touch. Or keep navigating to learn more about my journey as a software engineer.
      </p>
      <Image src={brandGray} alt="Logo" height={75}/>
      <button onclick="window.scrollTo({top:0,left:0,behavior:'smooth'})"
              class="btn bg-linear-to-t from-stone-800 to-stone-900 border-stone-700">
        Back to top ↑
      </button>
    </div>
    <div class="flex flex-col gap-4">
      <h4 class="text-lg font-semibold text-stone-300">Let's connect</h4>
      <ul class="flex flex-col gap-2">
        <li>
          <a href="https://www.linkedin.com/in/ignaciofern%C3%A1ndez/" target="_blank" rel="noopener noreferrer" class="footer-item flex items-center gap-2">
            <span>LinkedIn</span>
          </a>
        </li>
        <li>
          <a href="https://github.com/ignfer" target="_blank" rel="noopener noreferrer" class="footer-item flex items-center gap-2">
            <span>GitHub</span>
          </a>
        </li>
        <li>
          <a href="mailto:nachofernandezuru@gmail.com" class="footer-item flex items-center gap-2">
            <span>Email</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="flex flex-col gap-4">
      <h4 class="text-lg font-semibold text-stone-300">Explore</h4>
      <ul class="flex flex-col gap-2">
        <li>
          <a href="/home" class="footer-item">Home</a>
        </li>
        <li>
          <a href="/projects" class="footer-item">Projects</a>
        </li>
        <li>
          <a href="/blog" class="footer-item">Blog</a>
        </li>
        <li>
          <a href="/certifications" class="footer-item">Certifications</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="mt-8 pt-4 text-center">
    <p class="text-stone-400 text-xs">
      &copy; {new Date().getFullYear()} Ignacio Fernández. All rights reserved.
    </p>
  </div>
</footer>