---
import {ClientRouter} from 'astro:transitions';
import HeaderLinkAndShortcut from "./header/HeaderLinkAndShortcut.astro";
import {Image} from "astro:assets";
import logoLong from "@assets/if-logo-long.png";
---

<ClientRouter/>
<div class="w-full top-0 fixed shadow-xl">
<header class=" p-2 px-8 flex gap-2 items-center justify-between bg-stone-900">
  <nav class="flex gap-8 max-sm:grid max-sm:grid-cols-2 max-sm:grid-rows-2 max-sm:gap-2">
    <HeaderLinkAndShortcut link="/home" shortcut="alt + h"/>
    <HeaderLinkAndShortcut link="/projects" shortcut="alt + p"/>
    <HeaderLinkAndShortcut link="/blog" shortcut="alt + b"/>
    <HeaderLinkAndShortcut link="/certifications" shortcut="alt + c"/>
  </nav>
  <Image src={logoLong} alt="Logo" height={50} class="max-sm:hidden"/>
</header>
<div class="h-8 backdrop-blur-xs bg-stone-700/25 border-b border-stone-400/25"/>
</div>