---
import Image from 'astro/components/Image.astro';
import {ClientRouter} from 'astro:transitions';
import brandDark from "@assets/if-logo-dark.svg";
---

<ClientRouter/>
<header class="w-full p-2 top-0 sticky flex gap-2 items-center justify-between bg-stone-900 shadow-xl">
  <nav class="flex gap-8">
    <a class="font-space font-bold text-3xl text-stone-300" href="/">Home</a>
    <a class="font-space font-bold text-3xl text-stone-300" href="/projects">Projects</a>
    <a class="font-space font-bold text-3xl text-stone-300" href="/blog">Blog</a>
    <a class="font-space font-bold text-3xl text-stone-300" href="/projects">Education</a>
  </nav>
  <Image src={brandDark} alt="Logo" height={40}/>
</header>