---
import {ClientRouter} from 'astro:transitions';
---

<ClientRouter/>
<header class="w-full p-2 px-8 top-0 sticky flex gap-2 items-center justify-between bg-stone-900 shadow-xl">
  <nav class="flex gap-8 max-sm:grid max-sm:grid-cols-2 max-sm:grid-rows-2 max-sm:gap-2">
    <a class="font-space font-semibold text-2xl text-stone-50 hover:underline" href="/home">/home</a>
    <a class="font-space font-semibold text-2xl text-stone-50 hover:underline" href="/projects">/projects</a>
    <a class="font-space font-semibold text-2xl text-stone-50 hover:underline" href="/blog">/blog</a>
    <a class="font-space font-semibold text-2xl text-stone-50 hover:underline" href="/certifications">/certifications</a>
  </nav>
  <p class="font-space font-semibold text-4xl text-stone-50 max-sm:hidden">
    >ignfer_
  </p>
</header>