---
import Image from 'astro/components/Image.astro';
import {ClientRouter} from 'astro:transitions';
import brandDark from "@assets/if-logo-dark.svg";
---

<div class="w-full flex justify-center">
  <ClientRouter/>
  <header class="sm:max-w-3/4 grow bg-stone-200/25 p-1 m-2 sticky top-2 backdrop-blur-md rounded-xl border border-stone-500 flex gap-2 items-center justify-between">
    <nav class="flex gap-8">
      <a class="font-sans font-bold text-2xl" href="/">Home</a>
      <a class="font-sans font-bold text-2xl" href="/projects">Projects</a>
      <a class="font-sans font-bold text-2xl" href="/blog">Blog</a>
      <a class="font-sans font-bold text-2xl" href="/projects">Education</a>
    </nav>
    <Image src={brandDark} alt="Logo" height={40}/>
  </header>
</div>