---
import HeroContent from '@content/about/hero.md';
---

<div class="w-full flex flex-col items-center p-8 gap-8">
  <div class="flex flex-col items-center gap-2 max-sm:items-start">
    <h1 class="font-inter font-bold text-stone-800 text-6xl">Ignacio Fernández</h1>
    <h2 class="font-inter text-left font-semibold text-stone-600 text-4xl ">Software Engineer & Designer</h2>
  </div>
  <article class="font-inter md:max-w-1/2 text-stone-600 prose">
      <HeroContent/>
  </article>
</div>