---
import '@styles/global.css';
---

<div
        id="hero"
        class="w-full h-full flex flex-col items-center p-8"
>
  <h1 class="text-6xl font-bold text-stone-200">Ignacio Fernández</h1>
  <h2 class="text-4xl text-stone-400">Software engineer</h2>

  <p class="max-w-1/2 text-stone-500">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In facilisis ornare ipsum, nec eleifend velit. Praesent sodales nisi id nisi aliquam mattis. Sed sit amet leo auctor,
    scelerisque nunc ac, vulputate elit. Sed sapien risus, ullamcorper ut lobortis sit amet, laoreet ut nibh. Aliquam sed quam nec est sodales tincidunt nec vel urna. Quisque
    malesuada ex et lectus ornare malesuada id sit amet metus. Proin vitae quam tincidunt, convallis quam ut, congue turpis. Nam id tempor urna, et consequat sapien. Maecenas
    faucibus dolor a nisi aliquam sodales. Nulla non urna eget eros congue varius. Fusce dictum at nulla non condimentum. Integer vestibulum felis ante, sed mattis orci euismod a.

    Sed accumsan libero id lectus blandit blandit. Vivamus facilisis tortor non elit fermentum feugiat. Aliquam est ipsum, tristique vel placerat ac, tempus ut nibh. Suspendisse
    potenti. Integer vulputate mollis blandit. Etiam at nulla quis velit euismod luctus non at odio. Vivamus aliquam fermentum magna non congue. Etiam a mi sed diam mattis
    faucibus. Pellentesque laoreet purus felis, et gravida arcu ultricies id. Etiam ipsum neque, aliquam quis urna nec, efficitur blandit nibh. Aliquam ac ultrices risus, quis
    blandit mi. Curabitur quis maximus leo. Nullam ac viverra risus, sed aliquet massa. Suspendisse eleifend dui vel odio interdum, sed sagittis elit volutpat.

    Aliquam quis hendrerit elit. Maecenas vel justo convallis, placerat ex quis, feugiat erat. Maecenas aliquet est id magna commodo molestie. Nulla facilisi. Duis eget sodales
    tortor. Aenean vitae sem sem. Curabitur vitae nibh sit amet dolor placerat ultrices. Fusce eu quam id quam bibendum tincidunt. Integer quam sem, cursus vel posuere id, euismod
    at libero. Aliquam id vehicula nunc. Aliquam ullamcorper eleifend mauris, sit amet fermentum nulla rutrum ac.
  <p>

  <p class="max-w-1/2 text-stone-500">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In facilisis ornare ipsum, nec eleifend velit. Praesent sodales nisi id nisi aliquam mattis. Sed sit amet leo auctor,
    scelerisque nunc ac, vulputate elit. Sed sapien risus, ullamcorper ut lobortis sit amet, laoreet ut nibh. Aliquam sed quam nec est sodales tincidunt nec vel urna. Quisque
    malesuada ex et lectus ornare malesuada id sit amet metus. Proin vitae quam tincidunt, convallis quam ut, congue turpis. Nam id tempor urna, et consequat sapien. Maecenas
    faucibus dolor a nisi aliquam sodales. Nulla non urna eget eros congue varius. Fusce dictum at nulla non condimentum. Integer vestibulum felis ante, sed mattis orci euismod a.

    Sed accumsan libero id lectus blandit blandit. Vivamus facilisis tortor non elit fermentum feugiat. Aliquam est ipsum, tristique vel placerat ac, tempus ut nibh. Suspendisse
    potenti. Integer vulputate mollis blandit. Etiam at nulla quis velit euismod luctus non at odio. Vivamus aliquam fermentum magna non congue. Etiam a mi sed diam mattis
    faucibus. Pellentesque laoreet purus felis, et gravida arcu ultricies id. Etiam ipsum neque, aliquam quis urna nec, efficitur blandit nibh. Aliquam ac ultrices risus, quis
    blandit mi. Curabitur quis maximus leo. Nullam ac viverra risus, sed aliquet massa. Suspendisse eleifend dui vel odio interdum, sed sagittis elit volutpat.

    Aliquam quis hendrerit elit. Maecenas vel justo convallis, placerat ex quis, feugiat erat. Maecenas aliquet est id magna commodo molestie. Nulla facilisi. Duis eget sodales
    tortor. Aenean vitae sem sem. Curabitur vitae nibh sit amet dolor placerat ultrices. Fusce eu quam id quam bibendum tincidunt. Integer quam sem, cursus vel posuere id, euismod
    at libero. Aliquam id vehicula nunc. Aliquam ullamcorper eleifend mauris, sit amet fermentum nulla rutrum ac.
  <p>
</div>