---
import HeroContent from '@content/about/hero.mdx';
---

<div
        id="hero"
        class="w-full h-full flex flex-col items-center p-8"
>
  <h1 class="text-6xl tracking-tighter text-balance font-bold text-stone-900">Ignacio Fernández</h1>
  <h2 class="text-4xl text-stone-600">Software engineer</h2>

  <article class="sm:max-w-1/2 text-stone-500">
    <HeroContent/>
  </article>
</div>