---
import HeroContent from '@content/about/hero.md';
import Image from 'astro/components/Image.astro';
import Banner from '@assets/brand-banner.svg';
---

<div
        id="hero"
        class="w-full h-fit flex flex-col items-center p-8 gap-8"
>
  <div class="flex flex-col items-center gap-2">
    <h1 class="font-space font-bold text-stone-800 text-6xl tracking-tight">Ignacio Fernández</h1>
    <h2 class="font-space font-semibold text-stone-600 text-4xl ">Software engineer</h2>
  </div>
  <hr class="w-2/4 text-stone-600"/>
  <article class="font-space sm:max-w-1/2 text-stone-600 prose">
    <HeroContent/>
  </article>
</div>