---
import Header from "@components/header.astro";
import Footer from "@components/footer.astro";
import Hero from "@components/hero.astro";
---

<div class="w-full h-screen flex flex-col">
  <Header/>
  <div class="flex flex-grow mt-24 max-sm:mt-32">
    <Hero/>
  </div>
  <Footer/>
</div>
