.experience-card{
  border-style: solid;
  border-width: 1px;
  border-color: var(--dark-color-1);
  transition: all 0.2s;
  flex-grow: 1;

  width: 40%;

  cursor: pointer;
}

.experience-card:hover{
  border-color: var(--dark-color-2);
}

.experience-card:hover > .experience-card-title,.experience-card:hover > .experience-card-description{
  border-color: var(--dark-color-2);
}

.experience-card-title{
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  text-align: left;
  
  border-bottom-style: solid;
  border-color: var(--dark-color-1);
  border-width: 1px;
  transition: all 0.2s;
}

.experience-card:hover > .experience-card-preview > img{
  filter: saturate(1);
}

.experience-card-preview > img{
  width: 450px;
  filter: saturate(0);
  transition: all 0.2s;
  aspect-ratio: 16/9;
}

.experience-card-description{
  border-top-style: solid;
  border-color: var(--dark-color-1);
  text-align: left;
  padding: 0.5rem;
  border-width: 1px;
  transition: all 0.2s;
}