.about-me-content{
  height: 100%;
  box-sizing: border-box;
  padding: 1rem;

  overflow: scroll;

  font-size: large;
  text-align: left;

}

.about-me-content > p{
  color:var(--dark-color-3);
  font-weight: 500;
  transition: all 0.4s;
  line-height: normal;
}

.about-me-content:hover > p{
  color:var(--dark-color-4);
}

.divider{
  box-sizing: border-box;
  background-color: var(--dark-color-1);
  height: 3px;
  width: 90%;
  margin: 0.5rem 0 0.5rem 0;
}