.experience{
  padding: 1rem;
  color:var(--dark-color-2);

  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  
  flex-grow: 1;

  overflow-y: scroll;
  scrollbar-width: none;
}

.experience-card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 1rem;
  margin-top: 1rem;
}