.education-card {
    border-style: solid;
    border-width: 1px;
    border-color: var(--dark-color-1);
    transition: all 0.2s;
    flex-grow: 1;

    width: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: row;

    text-align: left;
}

@media (max-width: 768px) {
    .education-card {
        flex-direction: column;
        align-items: center;
    }

    .education-card-image-container {
        padding: 1rem;
    }
}

.education-card:hover, .education-card:hover > .education-card-content, .education-card:hover > .education-card-content > * {
    border-color: var(--dark-color-5);
}

.education-card:hover > .education-card-image-container > img {
    filter: brightness(150%);
}

.education-card-image-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    filter: saturate(0);
    overflow: hidden;

    max-width: 250px;
    min-width: 250px;

    cursor: pointer;
}

.education-card-image-container > img {
    width: 90%;
    transition: all 0.2s;
}

.education-card-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    border-left-style: solid;
    border-left-width: 1px;
    border-color: var(--dark-color-1);

    transition: inherit;
}

@media (max-width: 768px) {
    .education-card-content {
        border-width: 0px;
    }
}

.education-card-title {
    width: 100%;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--dark-color-1);

    box-sizing: border-box;
    padding: 0.5rem;

    transition: inherit;

    display: flex;
    justify-content: space-between;
}

.education-card-title > a {
    color: var(--dark-color-2);
}

.education-card-badges {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    border-bottom-style: solid;
    border-color: var(--dark-color-1);
    border-bottom-width: 1px;

    transition: all 0.2s;

    box-sizing: border-box;
    padding: 0.5rem;
}

.education-card-description {
    box-sizing: border-box;
    padding: 0.5rem;
}

.education-card-details {
    padding: 0.5rem;
    border-bottom-style: solid;
    border-color: var(--dark-color-1);
    border-bottom-width: 1px;
    transition: inherit;
}