.education-card{
  border-style: solid;
  border-width: 1px;
  border-color: var(--dark-color-1);
  transition: all 0.2s;
  flex-grow: 1;

  width: 100%;

  padding: 1rem;
  box-sizing: border-box;
  margin: 0.5rem;
}
