* {
    margin: 0;
    scrollbar-width: none;
}

#root {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;

    background-color: var(--dark-color-0);
}

html, body {
    height: 100%;
}