:root {
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /*background-color: #242424;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /*the 'dark' or 'light' makes reference to the
  theme in wich each color is used, it has nothing to do
  with the bright of any other aspect of the color*/
  --dark-color-0:#141414;
  --dark-color-1:#292929;
  --dark-color-2:#ADADAD;
  --dark-color-3:#8A8A8A;
  --dark-color-4:#F5F5F5;


  --default-border-width:2px;
}



