---
import Layout from './Layout.astro';
import Header from "../components/header.astro";

export interface Props {
	title: string;
	description: string;
	pubDate: Date;
	author?: string;
	image?: string;
	tags?: string[];
	slug: string;
}

const {title, description, pubDate, author, image, tags, slug} = Astro.props;
---
<Layout>
  <main class="container mx-auto px-4 py-8 max-w-4xl">
    <article>
      <div class="font-inter prose prose-lg max-w-none text-stone-900">
        <slot/>
      </div>
    </article>
  </main>
</Layout>