.stack{
  padding: 1rem;
  color:var(--dark-color-2);

  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  
  flex-grow: 1;

  overflow-y: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  gap: 1rem;
}

.stack-image-container{
  width: 100%;
  height: 40%;

  overflow-y: scroll;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  flex-wrap: wrap;
}

.stack-image-container > img{
  border-style: solid;
  border-width: 1px;
  border-color: var(--dark-color-1);

  width: 15%;

  padding: 1rem;

  filter: saturate(0%);
}

.stack-image-container > img:hover{
  filter: saturate(60%);
  
  border-color: var(--dark-color-5);
  transition: all 0.2s;
}

.stack-info-container{
  width: 100%;
  height: 60%;
}